doctype html
html
  head
    title Website
    link(rel="icon" href="/public/img/favicon.ico" type="image/x-icon")
    link(rel="stylesheet" href="/public/css/main.css")
    style.
      
  body
    #container
    script(src="/browserify/index/logic.js")
    script.
      //- var widgetMenu = document.querySelector('#widgetMenu');
      //- widgetMenu.clickedEvent = function(id){
      //-   alert(id)
      //- }
      //- widgetMenu.widgets = {
      //-   reddit: {id:"reddit", name: "Reddit", notification: "3", type: "newsfeed"},
      //-   hn: {id:"hn", name: "Hacker News", notification: null, type: "newsfeed"}
      //- }
